#container {
    display: flex;
    flex-wrap: wrap;
    background-color: coral;
    height: 400px;
    width: 385px;
    padding: 2px;
}

.box {
    text-align: center;
    border-color: black;
    border-width: thick;
    border-radius: 3px;
    background-color: aqua;
    height: 16px;
    width: 16px;
    padding: 4px;
}

.box:hover {
    background-color: blueviolet;
}

.test {
    text-align: center;
    border-color: black;
    border-width: thick;
    border-radius: 3px;
    background-color: aqua;
    height: 16px;
    width: 16px;
    padding: 4px;
}